* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.add-movie-btn {
  display: inline-flex;
  gap: 4px;
}
